@media(max-width: 1400px) {
    .container {
        width: 1200px;
    }
    .container__content {
        width: 1200px;
    }
    .header {
        &__wrappers {
            max-width: 993px;
        }
        &__logo {
            max-width: 245px;
            min-height: 85px;
        }
        &__contacts {
            width: 290px;
            &-logo {
                max-width: 60px;
                min-height: 45px;
            }
            &-phone {
                font-size: 20px;
            }
            &-mail {
                font-size: 20px;
            }
        }
    }
    .basic {
        &__image {
            max-width: 1200px;
        }
        &__info {
            font-size: 40px;
        }
    }
    .reasons {
        &__item {
            width: 380px;
            height: 570px;
            &-img {
                width: 315px;
                height: 200px;
            }
            &-info {
                top: 170px;
                width: 315px;
            }
        }
        &__info {
            margin-top: 40px;
            font-size: 25px;
            max-width: 1100px;
        }
    }
    .premit {
        &__wrapper {
            margin-top: 100px;
        }
        &__img {
            width: 520px;
            height: 700px;
        }
        &__lists {
            max-width: 599px
        }
        &__list {
            font-size: 22px;
            line-height: 38px;
        }
    }
    .footer {
        &__logo {
            max-width: 245px;
            min-height: 85px;
        }
        &__contacts {
            width: 280px;
            &-logo {
                max-width: 60px;
                min-height: 45px;
            }
            &-phone {
                a {
                    font-size: 20px;   
                }
                
            }
            &-mail {
                a {
                    font-size: 20px;
                }
                
            }
        }
    }
}
@media(max-width: 1200px) {
    .container {
        width: 993px;
    }
    .container__content {
        width: 993px;
    }
    .header {
        &__wrappers {
            max-width: 763px;
        }
        &__logo {
            max-width: 165px;
            min-height: 65px;
        }
        &__contacts {
            width: 180px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 14px;
                line-height: 20px;
            }
            &-mail {
                font-size: 14px;
            }
        }
    }   
    .basic {
        &__image {
            max-width: 1200px;
        }
        &__info {
            font-size: 30px;
        }
    }

    .reasons {
        &__title {
            font-size: 35px;
        }
        &__item {
            width: 315px;
            height: 450px;
            &-img {
                width: 275px;
                height: 170px;
            }
            &-info {
                top: 130px;
                width: 260px;
                font-size:  25px;
            }
        }
        &__info {
            margin-top: 40px;
            font-size: 20px;
            max-width: 900px;
        }
    }

    .premit {
        &__wrapper {
            margin-top: 90px;
        }
        &__img {
            width: 420px;
            height: 500px;
        }
        &__lists {
            max-width: 500px
        }
        &__list {
            font-size: 22px;
            line-height: 26px;
        }
    }
    .push {
        &__consultation {
            width: 550px;
            height: 65px;
            font-size: 22px;
        }
        &__video {
            width: 350px;
            height: 65px;
            a {
              font-size: 22px;
            }
           
        }
    }
    .footer {
        &__logo {
            max-width: 165px;
            min-height: 65px;         
        }
        &__contacts {
            width: 200px;
            &-logo {
                max-width: 40px;
                height: 40px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            &-phone {
                a {
                    font-size: 14px;
                    line-height: 20px;
                }
                
            }
            &-mail {
                a {
                    font-size: 14px;   
                }
                
            }
        }
    }   
}
@media(max-width: 993px) {
    .container {
        width: 763px;
    }
    .container__content {
        width: 763px;
    }
    .header {
        &__wrappers {
            max-width: 569px;
        }
        &__logo {
            max-width: 165px;
            min-height: 65px;
        }
        &__contacts {
            width: 180px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 14px;
                line-height: 20px;
            }
            &-mail {
                font-size: 14px;
            }
        }
    }   
    .basic {
        &__image {
            max-width: 1200px;
            height: 360px;
            img {
                border-radius: 50px;
            }
        }
        &__info {
            font-size: 25px;
            bottom: 40px;
            height: 60px;
        }
    }
    .reasons {
        &__title {
            font-size: 25px;
            line-height: 30px;
        }
        &__item {
            width: 240px;
            height: 350px;
            &-img {
                width: 200px;
                height: 125px;
            }
            &-info {
                top: 130px;
                width: 215px;
                font-size:  15px;
                line-height: 20px;
            }
        }
        &__info {
            margin-top: 40px;
            font-size: 16px;
            line-height: 20px;
            max-width: 650px;
        }
    }
    .premit {
        &__title {
            max-width: 402px;
            font-size: 40px;
        }
        &__wrapper {
            margin-top: 70px;
        }
        &__img {
            width: 340px;
            height: 400px;
        }
        &__lists {
            max-width: 350px
        }
        &__list {
            font-size: 16px;
            line-height: 18px;
        }
    }
    .push {
        &__consultation {
            width: 450px;
            height: 55px;
            font-size: 18px;
        }
        &__video {
            width: 250px;
            height: 55px;
            a {
              font-size: 18px;
            }
           
        }
    }
}
@media (max-width: 763px) {
    .container {
        width: 569px;
    }
    .container__content {
        width: 569px;
    }
    .header {
        &__wrappers {
            max-width: 360px;
        }
        &__logo {
            max-width: 100px;
            min-height: 40px;
        }
        &__contacts {
            width: 150px;
            &-logo {
                max-width: 40px;
                height: 40px;
                img {
                    width: 80%;
                    height: 80%;
                }
            }
            &-phone {
                font-size: 12px;
                line-height: 16px;
            }
            &-mail {
                font-size: 12px;
            }
        }
    }   
    .basic {
        &__image {
            max-width: 569px;
            height: 268px;
            img {
                border-radius: 50px;
            }
        }
        &__info {
            font-size: 20px;
            bottom: 40px;
            height: 60px;
        }
    }
    .reasons {
        &__title {
            font-size: 20px;
        }
        &__items {
            flex-wrap: wrap;
        }
        &__item {
            &:last-child {
                margin-top: 120px;
            }
        }
        &__info {
            margin-top: 40px;
            font-size: 14px;
            line-height: 20px;
            max-width: 350px;
        }
    }
    .premit {
        &__title {
            max-width: 402px;
            font-size: 40px;
        }
        &__wrapper {
            margin-top: 70px;
            flex-direction: column;
        }
        &__img {
            width: 100%;
            height: 400px;
        }
        &__lists {
            max-width:80%
        }
        &__list {
            font-size: 20px;
            line-height: 24px;
            &::before {
                width: 20px;
                height: 2px;
                top: 10px;
                left: -25px;
            }
        }
    }
    .push {
        &__consultation {
            width: 350px;
            height: 50px;
            font-size: 15px;
        }
        &__video {
            width: 200px;
            height: 50px;
            a {
              font-size: 15px;
            }
           
        }
    }
    .footer {
        &__contacts {
            width: 180px;
            &-logo {
                max-width: 40px;
                height: 40px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            &-phone {
                a {
                    font-size: 12px;
                    line-height: 18px;
                }
                
            }
            &-mail {
                a {
                    font-size: 12px;   
                }
                
            }
        }
    }   
}
@media (max-width: 563px) {
    .container {
        width: 360px;
    }
    .container__content {
        width: 360px;
    }
    .header {
        &__wrappers {
            max-width: 320px;
        }
        &__wrapper {
            padding: 10px;
        }
        &__logo {
            max-width: 100px;
            min-height: 40px;
        }
        &__contacts {
            width: 150px;
            &-logo {
                max-width: 40px;
                height: 40px;
                img {
                    width: 80%;
                    height: 80%;
                }
            }
            &-phone {
                font-size: 12px;
                line-height: 16px;
            }
            &-mail {
                font-size: 12px;
            }
        }
    }   
    .basic {
        &__image {
            max-width: 569px;
            height: 165px;
            img {
                border-radius: 20px;
            }
        }
        &__info {
            font-size: 14px;
            bottom: 40px;
            height: 60px;
        }
    }

    .reasons {
        &__title {
            font-size: 12px;
            line-height: 20px;
        }
        &__items {
            justify-content: center;
        }
        &__item {
            margin-top: 120px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &__info {
            margin-top: 40px;
            font-size: 14px;
            line-height: 20px;
            max-width: 300px;
        }
    }
    .premit {
        &__title {
            max-width: 310px;
            font-size: 30px;
        }
        &__wrapper {
            margin-top: 70px;
            flex-direction: column;
        }
        &__img {
            width: 100%;
            height: 400px;
        }
        &__lists {
            max-width:80%
        }
        &__list {
            font-size: 16px;
            line-height: 24px;
            &::before {
                width: 20px;
                height: 2px;
                top: 10px;
                left: -25px;
            }
        }
    }
    .push {
        &__consultation {
            width: 230px;
            height: 45px;
            font-size: 10px;
        }
        &__video {
            width: 120px;
            height: 45px;
            a {
              font-size: 10px;
            }
           
        }
    }
    .footer {
        &__contacts {
            width: 150px;
            &-logo {
                max-width: 40px;
                height: 40px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            &-phone {
                a {
                    font-size: 10px;
                    line-height: 18px;
                }
                
            }
            &-mail {
                a {
                    font-size: 10px;   
                }
                
            }
        }
    }   
}
@media (max-width: 360px) {
    .container {width: 320px;} 
    .container__content {
        width: 320px;
    }
    .basic {
        &__image {
            max-width: 569px;
            height: 165px;
            img {
                border-radius: 0;
            }
        }
        &__info {
            font-size: 10px;
            bottom: 40px;
            height: 60px;
        }
    }
    .premit {
        &__title {
            max-width: 210px;
            font-size: 20px;
            line-height: 25px;
        }
        &__wrapper {
            margin-top: 50px;
            flex-direction: column;
        }
        &__img {
            width: 100%;
            height: 400px;
        }
        &__lists {
            max-width:80%
        }
        &__list {
            font-size: 14px;
            line-height: 20px;
            &::before {
                width: 20px;
                height: 2px;
                top: 10px;
                left: -25px;
            }
        }
    }
    .push {
        &__wrapper {
            flex-direction: column;
        }
        &__consultation {
            width: 300px;
            height: 45px;
            font-size: 14px;
        }
        &__video {
            width: 300px;
            height: 45px;
            margin-top: 10px;
            a {
              font-size: 14px;
            }
           
        }
    }
}