@media(max-width: 1400px) {
    .container {
        width: 1200px;
    }
    .header {
        &__logo {
            max-width: 245px;
            min-height: 85px;
        }
        &__contacts {
            width: 290px;
            &-logo {
                max-width: 60px;
                min-height: 45px;
            }
            &-phone {
                font-size: 20px;
            }
            &-mail {
                font-size: 20px;
            }
        }
    }
}
@media(max-width: 1200px) {
    .container {
        width: 993px;
    }
    .header {
        &__logo {
            max-width: 165px;
            min-height: 65px;
        }
        &__contacts {
            width: 180px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 14px;
                line-height: 20px;
            }
            &-mail {
                font-size: 14px;
            }
        }
    }   
}
@media(max-width: 993px) {
    .container {
        width: 763px;
    }
   
}
@media (max-width: 763px) {
    .container {
        width: 569px;
    }
}
@media (max-width: 563px) {
    .container {
        width: 360px;
    }
    .header {
        &__logo {
            max-width: 120px;
            min-height: 45px;
        }
        &__contacts {
            margin-top: 5px;
            width: 160px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 12px;
                line-height: 12px;
            }
            &-mail {
                font-size: 12px;
            }
        }
    } 
}
@media (max-width: 360px) {
    .container {width: 320px;} 
}